@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Custom CSS to hide scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* In styles/globals.css */

body {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2'),
       url('/fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/Quattrocento-Regular.woff2') format('woff2'),
       url('/fonts/Quattrocento-Regular.woff') format('woff');
  font-weight: 400;
}

body {
  font-family: 'Lato', sans-serif;
}



/* App.css */

/* Light Mode */
:root {
  --text-color-light: black;
  --bg-color-light: white;
}

/* Dark Mode */
[data-theme='dark'] {
  --text-color-dark: white;
  --bg-color-dark: #333;
}
body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

/* Dark mode styles */
[data-theme='dark'] {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}
